<mat-card class="mainDiv">
    <div class="example-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <h2 style="color:navy;font-family: 'Times New Roman', Times, serif; font-size: 35px; 
          text-align: center;">Reset Password</h2>
            <br>
            <mat-form-field class="width">
                <input matInput placeholder="Password" formControlName="password" name="password" [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <mat-error *ngIf="submitted && f.password.errors">
                    <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <br>
            <button mat-button type="button" class="login" routerLink="/Login">LOGIN</button>
            <button mat-button type="submit" class="save" [disabled]="!resetPasswordForm.valid">SAVE</button>
            <br>
            <br>
            <br>
        </form>
    </div>
</mat-card>