.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    margin-left: 25px;
    margin-right: 25px;
}

.mainDiv {
    margin-top: 13%;
    border-radius: 10px;
    margin-bottom: 8%;
    margin-left: 33%;
    margin-right: 33%;
    border-color: rgb(253, 255, 253);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 479px) {
    .mainDiv {
        width: 90%;
        margin: 150px 0px 0px 0px;
    }
}

.login {
    margin-inline-start: 3px;
    width: 48%;
    background-color: rgb(139, 214, 210);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.login:hover {
    opacity: 0.6;
}

.save {
    margin-inline-start: 7px;
    width: 48%;
    background-color: rgb(103, 199, 103);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.save:hover {
    opacity: 0.6;
}

.width {
    width: 100%;
}